@import "tailwindcss";

@theme {
  /* Background Colors */
  --color-background: #f9fafb;
  --color-surface: #ffffff;
  --color-background-hover: #F5F5F5;
  --color-background-card: #f3f4f6;

  /* Text Colors */
  --color-foreground: #171717;
  --color-muted-foreground: #4b5563;
  --color-inverse-foreground: #ffffff;

  /* Brand Colors */
  --color-primary: #059669;
  --color-primary-hover: #047857;

  /* Border Colors */
  --color-border: #e5e7eb;
  --color-glow-border: #34D399;

  /* Semantic Colors */
  --color-success: #16a34a;
  --color-warning: #f59e0b;
  --color-danger: #dc2626;

  /* Font Families */
  --font-heading: var(--font-space-grotesk);
  --font-body: var(--font-inter);

  /* Shadows */
  --shadow-soft:
    0 12px 35px rgba(15,23,42,.08);

  --shadow-emerald:
    0 12px 35px rgba(15,23,42,.08),
    0 0 30px rgba(16,185,129,.18);

  --shadow-card:
  0 12px 35px rgba(15, 23, 42, 0.08),
  0 0 40px rgba(16, 185, 129, 0.35),
  0 0 80px rgba(16, 185, 129, 0.18);

  /* Animations */
  --animation-glow: glow 3s ease-in-out infinite alternate;
}

html {
  scroll-behavior: smooth;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--color-background);
  font-family: var(--font-body);
}